body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 20px auto;
}

#chatbox{
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.message{
    margin: 5px 0;
    padding: 8px;
    border-radius: 8px;
}
.user1{
    background-color: #d1e7ff;
    text-align: left;
}

.user2{
    background-color: #d4edda;
    text-align: right;
}
input{
    width: 70%;
    padding: 8px;
}
button{
    padding: 8px;
}